@model WebBanRauProject.Models.KHACHHANG
@{
    ViewBag.Title = "DeleteKhachHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xác nhận có xóa khách hàng </h2>
<h3>Bạn có muốn xóa khách hàng này hay không?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEN)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiachiKH)
        </dd>

        <dt>
            Ngày sinh:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.NGAYSINH)
        </dd>

        <dt>
            Điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENTHOAIKH)
        </dd>

    </dl>
</div>

div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-default" /> |
        @Html.ActionLink("TRỞ VỀ", "KhachHang")
    </div>
}
</div>
